.tab4 body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle, #e4e7e4, #111111);
}

.tab4 .container {
	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	animation: zuan 6s linear normal infinite;
	margin-left: 350px;
	margin-top: 100px;
	/* animation: zuan 6s linear alternate infinite; */
}

.tab4 .container div {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}

.tab4 .container img {
	width: 100%;
	height: 100%;
}

.q1 {
	transform: translateZ(150px);
}

.h2 {
	transform: rotateY(180deg) translateZ(150px);
}

.z3 {
	transform: rotateY(-90deg) translateZ(150px);
}

.y4 {
	transform: rotateY(90deg) translateZ(150px);
}

.s5 {
	transform: rotateX(90deg) translateZ(150px);
}

.x6 {
	transform: rotateX(-90deg) translateZ(150px);
}

@keyframes zuan {
	0% {
		transform: rotate3d(0, 0, 0, -360deg);
	}

	100% {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}
